# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarised.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- Create a table using markdown
- Carry out simple arithmetic expressions in Jupyter Notebook

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Java
4. SQL
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. MatPlotLib

| Data Science Tools |
|------------------- |
| JupyterLab |
| VS Code |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#A simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

# Author
Sagir Sani Mukaddas